<div class="photo">
  <%= image_tag photo.image.url(:medium) %>
  <% if photo.liked?(session[:user_id]) %>
    <%= button_to "Dislike", dislike_path(photo), method: 'delete' %>
  <% else %>
    <%= button_to "Like", like_path(photo)%>
  <% end %>
</div>
